<div class="page-header">
  <h1 class="col-md-offset-1"><%= @page_title %></h1>
  <div class="btn-group col-md-offset-1" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><a href="/movies/new_form">Create New</a></button>
    <button type="button" class="btn btn-default"><a href="/">Back</a></button>
  </div>
</div>

<div class="container">
  <% @movies.each do |movie| %>
    <div class="panel panel-default">
      <div class="panel-heading">
          <div><h4>Title:  <%= movie.title %></h4></div>
          <div><h6>Year:  <%= movie.year %></h6></div>
          <div><h6>Duration:  <%= movie.duration %> minutes</h6></div>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><a href="/<%= @type %>/<%= movie.id %>">View</a></button>
            <button type="button" class="btn btn-default"><a href="/<%= @type %>/edit_form/<%= movie.id %>">Edit</a></button>
            <button type="button" class="btn btn-default"><td><a href="/delete_<%= @type %>/<%= movie.id %>">Delete</a></td></button>
            <button type="button" class="btn btn-default"><a href="/">Back</a></button>
          </div>
      </div>
      <div class="panel-body">
          <div class="row">
            <div class="col-md-3"><img src = "<%= movie.image_url %>"></div>
            <div class="col-md-9"><%= movie.description  %></div>
          </div>
      </div>
    </div>
  <% end %>
</div>
